<h1>Here content!!!</h1>

<%= form_for @quote_form, :url => find_path do |f| %>
  <%= f.label :content, :class => "label" %>
  <%= f.error_message_on :content %>
  <%= f.text_area :content, :rows => 10, :cols => 30 %>
  
  <%= f.submit "Find" %>
<% end %>